name: CI

on:
  push:
    branches:
      - "main"

  pull_request:
    branches:
      - "main"

  merge_group: {}

  workflow_call: {}

permissions:
  contents: read

env:
  BAZEL_VERSION_ROLLING: "9.0.0-pre.20250921.2"

jobs:
  checks:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "Docs"
            bazel_version: "${{ env.BAZEL_VERSION_ROLLING }}"
            package: "docs"
            runner: "ubuntu-latest"

          - name: "Bazel latest: @package_metadata (Linux x64)"
            bazel_version: "${{ env.BAZEL_VERSION_ROLLING }}"
            package: "metadata"
            runner: "ubuntu-latest"

          - name: "Bazel 8.x: @package_metadata (Linux x64)"
            bazel_version: "8.x"
            package: "metadata"
            runner: "ubuntu-latest"

          - name: "Bazel 7.x: @package_metadata (Linux x64)"
            bazel_version: "7.x"
            package: "metadata"
            runner: "ubuntu-latest"

          - name: "Bazel latest: @supply-chain-go (Linux x64)"
            bazel_version: "${{ env.BAZEL_VERSION_ROLLING }}"
            package: "lib/supplychain-go"
            runner: "ubuntu-latest"

          - name: "Bazel 8.x: @supply-chain-go (Linux x64)"
            bazel_version: "8.x"
            package: "lib/supplychain-go"
            runner: "ubuntu-latest"

          - name: "Bazel 7.x: @supply-chain-go (Linux x64)"
            bazel_version: "7.x"
            package: "lib/supplychain-go"
            runner: "ubuntu-latest"

    runs-on:
      - "${{ matrix.runner }}"

    steps:
      - uses: "actions/checkout@v5"

      - name: "Run (Bash)"
        working-directory: "${{ github.workspace }}/${{ matrix.package }}"
        env:
          USE_BAZEL_VERSION: "${{ matrix.bazel_version }}"
        run: bash "${{ github.workspace }}/.github/workflows/ci.sh"

  status:
    runs-on:
      - "ubuntu-latest"

    needs:
      - "checks"
    if: always()

    steps:
      - name: "Report status"
        env:
          RESULT: "${{ needs.checks.result }}"
        run: |
          echo "Status: ${RESULT}"
          if [[ "${RESULT}" != "success" ]]; then
            exit 1
          fi
