name: "Create release of one of our modules"

on:
  workflow_dispatch:
    inputs:
      module:
        required: true
        type: "string"
      version:
        required: true
        type: "string"

permissions:
  id-token: write
  attestations: write
  contents: write

jobs:
  ci:
    name: "CI"
    uses: "./.github/workflows/ci.yml"
  
  create_tag:
    name: "Create tag"
    runs-on:
      - "ubuntu-latest"
    needs:
      - "ci"

    steps:
      - uses: actions/checkout@v6

      - name: "Create tag"
        id: "tag"
        env:
          MODULE: "${{ inputs.module }}"
          VERSION: "${{ inputs.version }}"

          GIT_AUTHOR_NAME: "${{ github.actor }}"
          GIT_AUTHOR_EMAIL: "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"
          GIT_COMMITTER_NAME: "${{ github.actor }}"
          GIT_COMMITTER_EMAIL: "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"
        run: |

          # Download `buildozer`
          #
          # TODO(yannic): Use `RUNNER_TOOL_CACHE` and cache between runs?
          curl -o "${RUNNER_TEMP}/buildozer" -L "https://github.com/bazelbuild/buildtools/releases/download/v7.3.1/buildozer-linux-amd64"
          chmod +x "${RUNNER_TEMP}/buildozer"
          declare -A module2_dir
          module2dir["package_metadata"]="metadata"
          module2dir["supply-chain-go"]="lib/supplychain-go"
          module2dir["supply_chain_tools"]="tools"
          module2dir["supply_chain_examples"]="examples"

          # Update `MODULE.bazel` and commit.
          module_dir="${module2dir[${MODULE}]:-$MODULE}"
          "${RUNNER_TEMP}/buildozer" "set version ${VERSION}" "//${module_dir}/MODULE.bazel:${MODULE}" || true
          git add "${module_dir}/MODULE.bazel"
          git commit -m "Release `${module_name}-${VERSION}`"

          # Push release tag.
          git tag "${module_name}-${VERSION}" "HEAD"
          git push origin "${module_name}-${VERSION}"

  release:
    name: "Create GitHub release"
    needs:
      - "create_tag"

    uses: "bazel-contrib/.github/.github/workflows/release_ruleset.yaml@v7.2.4"
    with:
      # The workflow appends `--disk_cache` here. There seems to be now way to
      # opt out, so use `echo || false` to make it a noop.
      bazel_test_command: echo "Already executed by step 'CI'" || false
      release_files: "${{ inputs.module }}-*.tar.gz"
      prerelease: "true"
      tag_name: "${{ inputs.module }}-${{ inputs.version }}"

# Next PR, after we test process.
#  publish:
#    name: "Publish to BCR"
#    needs:
#      - "release"
#
#    permissions:
#      attestations: write
#      contents: write
#      id-token: write
#
#    uses: "bazel-contrib/publish-to-bcr/.github/workflows/publish.yaml@v1.0.0"
#    with:
#      tag_name: "${{ inputs.module}}-${{ inputs.version }}"
#      registry_fork: "bazel-contrib/bazel-central-registry"
#      draft: false
#    secrets:
#      publish_token: "${{ secrets.BCR_PUBLISH_TOKEN }}"
