name: "Create release"

on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        type: "string"

permissions:
  id-token: write
  attestations: write
  contents: write

jobs:
  ci:
    name: "CI"
    uses: "./.github/workflows/ci.yml"
  
  create_tag:
    name: "Create tag"
    runs-on:
      - "ubuntu-latest"
    needs:
      - "ci"

    steps:
      - uses: actions/checkout@v5

      - name: "Create tag"
        id: "tag"
        env:
          VERSION: "${{ inputs.version }}"

          GIT_AUTHOR_NAME: "${{ github.actor }}"
          GIT_AUTHOR_EMAIL: "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"
          GIT_COMMITTER_NAME: "${{ github.actor }}"
          GIT_COMMITTER_EMAIL: "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"
        run: |
          # 1. Download `buildozer`
          #
          # TODO(yannic): Use `RUNNER_TOOL_CACHE` and cache between runs?
          curl -o "${RUNNER_TEMP}/buildozer" -L "https://github.com/bazelbuild/buildtools/releases/download/v7.3.1/buildozer-linux-amd64"
          chmod +x "${RUNNER_TEMP}/buildozer"

          # 2. Update `MODULE.bazel` and commit.
          #
          # TODO(yannic): Read directories from `//.bcr:config.yaml`.
          bzlmod_names=("supply-chain-docs" "package_metadata" "supply-chain-go")
          bzlmod_directories=("docs" "lib/supplychain-go" "metadata")

          for bzlmod_directory in "${bzlmod_directories[@]}"; do
            for bzlmod_name in "${bzlmod_names[@]}"; do
              "${RUNNER_TEMP}/buildozer" "set version ${VERSION}" "//${bzlmod_directory}/MODULE.bazel:${bzlmod_name}" || true
            done

            git add "${bzlmod_directory}/MODULE.bazel"
          done
          git commit -m "Release `v${VERSION}`"

          # 3. Push release tag.
          git tag "v${VERSION}" "HEAD"
          git push origin "v${VERSION}"

  release:
    name: "Create GitHub release"
    needs:
      - "create_tag"

    uses: "bazel-contrib/.github/.github/workflows/release_ruleset.yaml@v7.2.3"
    with:
      # The workflow appends `--disk_cache` here. There seems to be now way to
      # opt out, so use `echo || false` to make it a noop.
      bazel_test_command: echo "Already executed by step 'CI'" || false
      release_files: "supply-chain-*.tar.gz"
      tag_name: "v${{ inputs.version }}"

  publish:
    name: "Publish to BCR"
    needs:
      - "release"

    permissions:
      attestations: write
      contents: write
      id-token: write

    uses: "bazel-contrib/publish-to-bcr/.github/workflows/publish.yaml@v0.2.3"
    with:
      tag_name: "v${{ inputs.version }}"
      registry_fork: "bazel-contrib/bazel-central-registry"
      draft: false
    secrets:
      publish_token: "${{ secrets.BCR_PUBLISH_TOKEN }}"
